.profile-change-password{
    margin-top: 3rem;
    font-family: 'Noto Kufi Arabic', sans-serif;
}
.confirm-Pass{
    margin-top: -1rem;
}
@media only screen and (max-width: 768px) {
    .profile-user {
        margin-top: -1rem;
    }
    .profile-change-password .form-sec input {
        margin-bottom: 1rem;
        width: 60vw;
    }
    .profile-change-password button {
        font-size: 15px;
        margin-bottom: 2rem;
        width: 60vw;
        margin-top: 1rem;
    }
    .profile-change-password .form-sec label {
        font-size: 12px;
    }
    .profile-change-password{
        margin-top: -1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .password-hints{
        width: 15rem;
    }
}